@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Green: hsl(75, 94%, 57%);

    --White: hsl(0, 0%, 100%);

    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);
}

body{

    background-color: var(--Grey-900);
    color: var(--White);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", serif;;

}

.card {
    background-color: var(--Grey-800);
    width: 350px;
    height: 540px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}


.image {
    margin-top: 50px;
}

.image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.name {
    margin-top: 20px;
}

.name p{
    font-size: 1.5rem;
    font-weight: 600;
}

.location {
    margin-top: 10px;
}

.location p {
    color: var(--Green);
    font-weight: 600;
    font-size: 0.9rem;
}

.title {
    margin: 20px 0 2px 0;
    
}

.title p {
    font-weight: 400;
    font-size: 12px;
}

.social-links {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
    width: 85%;
    margin: 10px 0 20px 0;
}

.social-links button {
    width: 100%;
    padding: 13px;
    margin-top: 15px;
    border: none;
    font-weight: 600;
    background-color: var(--Grey-700);
    cursor: pointer;
    border-radius: 7px;
}

.social-links button a {
    text-decoration: none;  
    color: var(--White);
}

.social-links button:hover  {
    background-color: var(--Green);
    color: var(--Grey-900);
}

.social-links button:hover a {
    color: var(--Grey-900);
}